[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
awscli = "*"
xlsxwriter = "*"
pandas = "*"
xlrd = "*"
pyarrow = "*"
{% if cookiecutter.install_csci_utils=="yes" %}
csci-utils = {editable = true,git = "https://github.com/doctorsmonsters/2020sp-csci-utils-doctorsmonsters"}
{% endif %}

[requires]
python_version = "3.7"
